<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="./IEMB/cardgrid.css">
    <title>singleuser</title>
</head>

<body>
    <div style="display: flex; margin-top: 0%;">
        <div style="list-style-type: none;color:black; margin-top: .1rem; ">
            <div class="user-profile">
                <div class="profile-top">
                    <img src="<%=Picturepath%>">
                    <div class="profile-info">
                        <h2 style="color:white;text-align:center;margin-bottom:0px;line-height:2rem;"><%=Name%>  <%=Mname%>  <%=Surname%></h2>  
                        <h1 style="margin-top:3px;margin-bottom:0px;line-height:1rem;">>>>NIN:-<%=NIN%><<<</h1>
                    </div>
                
                </div>
                <div class="profile-bottom" style="margin-bottom:-25px";>
                    <div style="flex-direction:column;margin:-11px 0px;" class="profile-info"> 
                        <h1 style="Font-size:18px;text-align: center;">- <%=School%>  -</h1>
                                                      
                        </div>
                         <h1 style="font-size:12px;margin-top:20px;text-align:center;padding:0 0rem;">DATE OF BIRTH/CLASS</h1>
                         <div style="flex-direction:column;"class="profile-info"> 
                                <h1 style="margin-top:-1.5px;font-size:17px;">- <%=Day%> <%=Month%> <%=Year%>-</h1>
                                <h1 style="margin:-5px;color:red;font-size:15px;">- <%=Presentclass%> -</h1>
                            </div> 
                    </div>
                    <div class="profile-bottom">
                        <div style="display:flex;">
                            <div style="width:31%;margin:0 1px;">
                                <h1 style="font-size:12px;margin-top:-5px;text-align:center;padding:0 1.5rem;">B/G</h1>
                                <div class="profile-info">
                                <h1 style="color:black;padding:0 .8rem;margin-top:-5px;"><%=Bloodgroup%></h1>
                                </div>
                            </div>
                            <div style="width:31%;margin:0 1px;">
                            <h1 style="font-size:12px;margin-top:-5px;text-align:center;padding:0 1rem;">STATUS</h1>
                                <div style="flex-direction:column;"class="profile-info">
                                <h1 style="color:black;padding:0 .8rem;margin-top:-5px;"><%=Status%></h1>
                                </div>
                            </div>
                            <div style="width:31%;margin:0 1px;">
                                <h1 style="font-size:12px;margin-top:-5px;text-align:center;padding:0 1rem;">GENDER</h1>
                                <div class="profile-info">
                                <h1 style="color:black;padding:0 .8rem;margin-top:-5px;"><%=Gender%></h1>
                                </div>
                            </div>
                        </div>
                        
                        <h1 style="font-size:12px;margin-top:-8px;text-align:center;padding:0 0rem;">LGA/STATE OF ORIGIN</h1>
                            <div style="flex-direction:column;"class="profile-info"> 
                                <h1 style="margin-top:-1px;">- <%=State%> -</h1>
                                <h1 style="margin:-5px;color:red;font-size:12px;">- <%=HometownCommunity%> -</h1>
                            </div> 
                            
                            
                                <div style="display:flex;margin:-9px 0px;;justify-content:center;">
                                    <div>
                                        <h1 style="font-size:12px;margin:0px;text-align:center;">PARENT NO 2:</h1>
                                        <div class="profile-info">
                                            <a style="text-decoration: none;" href="Tel:${user.Phoneno1}">
                                                <div style="margin-left: 0px;"class="p1">
                                                    <p2 style="margin-left: 0px;"><%=ParentPhoneNo%></p2>
                                                </div>
                                            </a>                   
                                        </div>
                                    </div>
                                    <div>
                                        <h1 style="font-size:12px;margin:0px;text-align:center;">PARENT NO 2:</h1>
                                        <div class="profile-info">
                                            <a style="text-decoration: none;" href="Tel:${user.Phoneno2}">
                                                <div style="margin-left: 0px;"class="p2">
                                                    <p2 style="margin-left: 0px;"><%=ParentPhoneNo2%></p2>
                                                </div>
                                            </a>                   
                                        </div>                           
                                    </div>
                                </div>
                            
                    </div>
                       
                    </div>       
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    let opened = null
    const toggleVisibility = e => e.classList.toggle('show')

    const handleDropdown = e => {

        const clickedItem = e.parentElement.lastChild.previousSibling

        toggleVisibility(clickedItem)

        if (!opened) {
            opened = clickedItem
        } else if (opened == clickedItem) {
            opened = null
        } else {
            toggleVisibility(opened)
            opened = clickedItem
        }

    }

    const handleClick = e => {
        if (e.target.className.includes('dropDown')) {
            handleDropdown(e.target)
        } else if (opened) {
            toggleVisibility(opened)
            opened = null
        }

    }

    document.addEventListener('click', handleClick)
</script>

<script src="script.js"></script>
<script src="init.js"></script>
<script src="js/auth.js">
</script>
<script>
    getmovie();
</script>

</html>
